<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrandQ</title>
</head>
<body>
<div class="container">
			<div class="row fullscreen align-items-center justify-content-start" style="height:760px">
				<div class="col-lg-12">
                   <h1 style="text-align:center"> Add Women's ,Men's and Children's Category Here</h1>
                   <form style="text-align:center" method="post" action="{% url 'productdata2' %}" enctype="multipart/form-data">
                   {% csrf_token %}
                       <select name="ca2_name"  style="margin-left: auto; margin-right: auto; text-align-last: center;">
                           <option>Select Category</option>
                           {% for i in catname2 %}
                           <option>{{i.ca2_name}}</option>
                           {% endfor %}
                       </select><br><br>
                       <input type="text" placeholder="Product Name" name="product2_name"><br><br>
                       <input type="text" placeholder="Description" name="product2_description"><br><br>
                       <input type="text" placeholder="Price" name="price2"><br><br>
                       <input type="text" placeholder="Available Stock" name="stock2"><br><br>
                       <input type="file" placeholder="image" name="product2_image" required><br><br>
                       <input type="file" placeholder="image" name="product2_imagee" required><br><br>
                       <input type="file" placeholder="image" name="product2_imageee" required><br><br>
                       <button type="submit" style="border-radius:50px; width:100px; ">Add</button>
                    </form>
                </div>
            </div>
</div>
<style>
        .container {
            width: 100%;
            max-width: 1500px; /* Adjust this value as needed */
            margin: 0 auto;
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin: 0;
        }
</style>
</body>
</html>
{% endblock %}