<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
			<div class="row fullscreen align-items-center justify-content-start" style="height:760px">
				<div class="col-lg-12">
                   <h1 style="text-align:center"> Add category Here</h1>
                   <form style="text-align:center" method="post"  action="{% url 'cateEditupdate2' data2=cat2.id %}" enctype="multipart/form-data">
                   {% csrf_token %}
                       <input type="text" placeholder="Brand name" name="category2_name" value="{{cat2.ca2_name}}"><br><br>
                       <input type="text" placeholder="Description" name="category2_description" value="{{cat2.ca2_description}}"><br><br>
                       <img src="{{cat2.ca2_image.url}}" width="10%" height="10%"><br><br>
<!--                    <input name="Im" type="file"  placeholder="Add image" >-->
                       <input type="file" placeholder="Add Image" name="category2_image"><br><br>
                       <button type="submit" style="border-radius:50px; width:100px; ">Save</button>
                    </form>
                </div>
            </div>
</div>
<style>
        .container {
            width: 100%;
            max-width: 1500px; /* Adjust this value as needed */
            margin: 0 auto;
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin: 0;
        }
</style>

</body>
</html>
{% endblock %}